@import repository.{ServiceDtl}
@import helper._
@(serviceForm: Form[ServiceDtl], serviceGrps: Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)
@import templating.BSVersion
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }



@views.html.admin.aLayout(title = "Service Add") {

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6"><h5>Viết bài mới</h5></div>
                <div class="col-lg-6"></div>
            </div>
        </div>
        <div class="card-body">
        @b4.formCSRF(routes.ServiceDtlController.save()) {
            @b4.text(serviceForm("name"), '_label -> "Tên dịch vụ")
            @b4.select(serviceForm("service_id"), serviceGrps, '_label -> "Nhóm dịch vụ", '_default -> "Chọn nhóm")
            @b4.file(serviceForm("image-in"), '_label -> "Hình đại diện", '_custom -> true, 'id -> "select-image")
            @b4.button('class -> "btn btn-info see-image"){ <i class="far fa-images"></i> Xem hình }
            @b4.hidden(serviceForm("image"), '_label -> "Hình đại diện", 'id -> "image")
            @b4.textarea(serviceForm("content"), '_label -> "Nội dung", 'maxlength -> "100")
            @b4.static(){ <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="confirm" required>
                <label class="custom-control-label" for="confirm">
                    Xác nhận tạo dịch vụ
                </label>
            </div>
            }
            @b4.buttonType("submit", 'class -> "btn btn-primary"){ <i class="far fa-save"></i> Lưu dịch vụ }
        }
        </div>
    </div>
}