<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Admin</h3>
    </div>

    <ul class="list-unstyled components">
        <li><a href="#"><i class="fas fa-info-circle"></i> Giới thiệu</a></li>
        <li><a href="@routes.PostController.aPostList()"><i class="far fa-newspaper"></i> Tin tức</a></li>
        <li><a href="@routes.ServiceGrpController.aServiceGrpList()"><i class="fas fa-cubes"></i> Nhóm dịch vụ</a></li>
        <li><a href="@routes.ServiceDtlController.aServiceDtlList()"><i class="fas fa-cube"></i> Dịch vụ</a></li>
        <li><a href="#"><i class="far fa-user-circle"></i> Tài khoản</a></li>
        <li><a href="#"><i class="far fa-images"></i> Hình ảnh trang chủ</a></li>
        <li><a href="#"><i class="fab fa-facebook-messenger"></i> Facebook Messenger</a></li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Logout <i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>
