@()(implicit req: play.api.mvc.RequestHeader)
@views.html.base.layout(title = "Contact") {

    <!-- Service groups -->
    <div class="content">
        <div class="intro-text">
            <h2>Thông Tin Liên Hệ</h2>
            <p>Main Highway Otaki; 32 Wilson Street. Postcodes: 5022.
                <br>PO Boxes: PO Box 39100, Howick.
                <br><i class="fab fa-facebook-square"></i> https://www.facebook.com/skincareDrDuong
            </p>
        </div>
        <div id="addr-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.693805770195!2d106.65999471467111!3d10.758064792334016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef02f0a51e3%3A0x42bd6b6bb3fecbf2!2zMzAgVMSDbmcgQuG6oXQgSOG7lSwgcGjGsOG7nW5nIDEyLCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1526657986827" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
}